/* Overall Page Styling */
body {
    font-family: 'Barlow', 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: #003366;
    color: white;
}

header .container {
    display: flex;
    align-items: center;   
}

header img.avatar {
    border-radius: 20%;
    height: 100px;
    row-gap: 0;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
}

#menu {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
}

nav {
    background-color: black;
    color: white;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

nav ul li a.active,
nav ul li a:hover {
    background-color: #003366;
    border-radius: 5px;
}

main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

section {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /* width: calc(33.33% - 20px); */
}

section h2 {
    background-color: #003366;
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    margin: -20px -20px 20px;
    text-align: center;
}

section ul {
    list-style: none;
    padding: 0;
}

section ul li {
    margin: 10px 0;
}

.country-box picture img {
    width: 100%;
    border-radius: 5px;
}

.boxButton {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.courseButton {
    padding: 10px 20px;
    border: none;
    background-color: #003366;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.courseButton:hover {
    background-color: black;
}

.boxcertificate01 {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}

.boxCourse {
    /* background-color: #8B4513; */
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    flex: 1 1 calc(33% - 10px);
}

.courseWork-box li {
    list-style-type: style;
    margin-left: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #003366;
    color: white;
    font-size: 0.9rem;
    position: relative;
}

footer p {
    margin: 5px 0;
}